.Login_Container{
    width: 100%;
    height: auto;
    /* height: 100vh; */
    display: grid;
    grid-template-columns:repeat(2,1fr);
    /* gap: 12rem; */
    padding: 2rem;
    justify-content: center;
}
.Login_Section{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background: blue; */
}
.Login_Form{
    border-radius: 1rem;
    /* width: 40em; */
    width: 100%;
}
.heading1{
    margin: 0rem 0rem 3rem;
    font-size:2em;
}
.Login_Form .Form{
    box-shadow: 0px 0px 5px #FFF;
    padding: 3rem;
}
.Form input{
    display: flex;
    border: 1px solid #000;
    border-radius: 0.5rem;
    margin: 1.5rem 0rem 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    outline: none;
    width: 100%;
}
.Form li{
    color:#000;
    font-family: sans-serif;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    font-size: 1.6rem;
    /* font-weight: bold; */
}
.Login_Button{
    background:none;
    cursor: pointer;
    box-shadow: 0px 0px 3px #000;
    margin: 2rem 0rem 2rem;
    padding: 1.3rem 2rem;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    font-family: sans-serif;
}
.Login_Button:hover{
    background:#e9e3e3;
    color:darkblue;
    font-weight: bolder;
    transition: 0.5s ease;
}
/* image */
.Login_Image{
    width: 100%;
    /* padding: 0.2rem; */
}
.Login_Image img{
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Media Queries */
@media (max-width:625px){
    .Login_Container{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        justify-content: center;
    }
    .Login_Form{
        width: 100%;
    }
    .Login_Section{
        
    }
}