.Header_container{
    width: 100%;
    /* background:skyblue; */
}
.Header_section{
    background: transparent;
    /* background: blue; */
    box-shadow: 0 0px 1px #000;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content:center;
}
.Navbar_items{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(1fr);
    justify-content: center;
    gap: 2rem;
    background: blueviolet;
}

/* Header Links */
.Header_links{
    
}
.Header_links .links{
    display: flex;
    gap: 1.5rem;
}
.links .redirect_links{
    color:#000;   
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
}
.links .redirect_links:hover{
    color: blue;
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}
/* Media Screen Sizes */
@media (Max-Width:740px){
    .Header_links .links{
        display: none;
        gap: 0rem;
    }
}
@media (Max-Width:423px){
    .Navbar_items .logo{
        display: none;
    }
}