.Container{
    /* background-color: #cbdfeb; */
    box-shadow: 0px 0px 2px #000;
    width: 100%;
    height: 8rem;
}
.Navbar_Container{
    max-width: 132rem;
    margin: auto;
    justify-content: center;
    height: 8rem;
}
.grid{
    display: grid;
}
.Navbar_grid{
    grid-template-columns: 0.5fr 1fr;
    /* justify-content: center; */
    align-items: center;
    height: 8rem;
    padding: 0 3.2rem;
}
.logo{
    color: rgb(28, 61, 133);
    font-size: 1.2rem;
    /* font-size: 1.2vw; */
    font-style: oblique;
    font-family: sans-serif;
}
/* larger width or Screen Size */
.Web_menu{
    display: block;
}
.Web_menu ul{
    display: flex;
    justify-content:flex-end ;
    gap:1.5rem;
}
.Web_menu ul li{
    color: #000;
    font-family: "Urbanist";
    font-weight: bold;
    transition: 0.5s ease;
    &:hover{
        color:darkolivegreen;
        text-decoration: underline 2px;
        text-underline-offset: 0.3rem;
        transition: 0.5s ease-in;
    }
}
/* Menu bar */
.Nav_Hamburger{
    display: none;
    margin-left: 6rem;
}
.menu{
    color: #000;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.7rem 0.7rem;
    border: none;
    border-radius:50%;
    padding: 1rem;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
}

/* Media Queries */
@media (Max-Width:640px){
    .Container{
        height: 7rem;
        /* background:navajowhite; */
    }
    .Navbar_Container{
        height: 7rem;
    }
    .Navbar_grid{
        grid-template-columns: 2fr 0.5fr;
        height: 7rem;
    }
    .logo{
        /* font-size: 1rem; */
        /* display: none; */
        /* color: goldenrod; */
        font-style: italic;
        font-size: 1rem;
    }
    .Web_menu{
        display:none;
    }
    .Nav_Hamburger{
        /* display: block; */
        display: inline-block;
        /* display: flex; */
        justify-content: flex-end;
        /* text-align: end; */
    }
    .Menu_mobile{
        background:rgba(69, 77, 70, 0.9);
        /* box-shadow: 0 0px 10px #000; */
        position: absolute;
        top: 7rem;
        left: 0;
        width: 100%;
        padding: 1.5rem;
    }
    .Menu_mobile ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .Menu_mobile ul li{
        color: #fff;
        font-family: '',sans-serif;
        font-style: italic;
        font-weight: bold;
        /* text-decoration: underline; */
        font-size: 1.5rem;
    }
}