.Catagories_Container{
    background:darkcyan;
    border-radius: 2rem;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    padding: 2rem;
}
.Image_Section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0.5rem 1rem;
}
.Grid_Image{
    /* grid-template-rows:auto; */
    grid-template-rows: repeat(2,1fr);
}
.Image_Section img{
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    width:100%;
}
.Image_Section .Fitness{
    display: flex;
    justify-content: center;
}
.Catagories_Section{
    /* background: blue; */
    padding: 2rem;
}
.Catagories_Article{
    font-family: sans-serif;
}
.AllBlogs_btn{
    padding: 1rem 3rem;
    margin-top: 2rem;
    cursor: pointer;
}

.Catagory_h1{
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
}
.Catagories_para{
    color: #fff;
    font-size: 2rem;
    line-height: 2.5rem;
}