.Admin_Sidebar{
    width: 100%;
    height: 100vh;
    background:rgb(156, 173, 180);
}
.Sidebar_heading{
    background: darkcyan;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sidebar_heading h1{
    color:#fff;
    box-shadow: 0px 0px 10px #fff;
    border: 0.2rem solid #fff;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 2.5rem;
    font-family: 'Poppins',sans-serif;
}
.Sidebar_Section{
    padding:1rem;
    width: 100%;
}

.Sidebar_links{
    font-family: sans-serif;
    /* padding: 2rem; */
}
.Sidebar_links li{
    display: flex;
    align-content:center ;
    color: #000;
    padding: 2rem;
    /* margin-bottom: 2rem; */
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}